@import 'reset.css';
@import 'header.css';
@import 'container.css';
@import 'footer.css';

body {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #464646;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.align-center {
  justify-content: center;
  align-items: center;
}

.bold-text {
  font-weight: 600;
}

.grid {
  display: grid;
}
