@import 'header.css';
@import 'container.css';
@import 'footer.css';
@import 'mediaquery.css';

body {
  font-family: sans-serif;
  width: 100%;
  background-image: url('../assets/Rhema_WebBackground_opt.jpg');
  background-color: rgb(41, 41, 41);
  background-size: 1920px 1080px;
  background-attachment: fixed;
  background-position: center;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  justify-content: center;
  align-items: center;
}

.bold-text {
  font-weight: 700;
}
