.footer {
  background-color: rgb(44, 44, 44);
  color: rgb(131, 131, 131);
  height: 100px;
}

.copyright {
  padding: 15px 25px;
}

.copyright-text {
  font-size: 9pt;
}

.scrollup_button {
  font-family: Fontawesome;
  background-color: rgb(32, 32, 32);
  font-size: 16pt;
  width: 40px;
  height: 40px;
  display: flex;
}
